@import url('https://fonts.googleapis.com/css?family=Francois+One|Montserrat&display=swap');



.header{
    
    
    position:  absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    z-index: 1;
    opacity: 1;
    box-shadow: 1px 0.3px 10px 1px #222;
    
    
    

}

.about{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 15.px;
    position: relative;
    left: 12px;
    top: 10px;
}

.contacts{
    text-decoration: none;
    font-family: 'Raleway';
    color: antiquewhite;
    position: relative;
    left: 25px;
    font-size: 15px;
    top: 10px;
}

.header-img > img{
    position: relative;
    width: 1365px;
    
}

.copa-america-date{
    width: 15%;
    height: 35px;
    position: relative;
    left: 26.5%;
    top: -230px;
    box-shadow: 1px 0.3px 10px 1px #222;
    padding: 16px;
    
    font-family: 'Montserrat';
    color: antiquewhite;


}

body{
    margin: 0;
    overflow-x: hidden;
 }

 .header-logo{
     color: antiquewhite;
     font-family: 'Paytone One';
     font-size: 50px;
 }



.more{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    font-family: 'Montserrat';
    position: relative;
    top: -220px;
    left: 410px
}

.news-1{
    background-color: rgba(212, 202, 202, 0.164);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: rgb(28, 189, 95);
    position: absolute;
    top: 120%;
    left: 210px;
    width: 20%;
    height: 53%;
    border-radius: 7px;
    border-top-width: 3.3px;
}

.news-2{
    background-color: rgba(212, 202, 202, 0.164);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: rgb(28, 189, 95);
    position: absolute;
    top: 120%;
    left: 550px;
    width: 20%;
    height: 53%;
    border-radius: 7px;
    border-top-width: 3.3px;
}
.news-3{
    background-color: rgba(212, 202, 202, 0.164);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: rgb(28, 189, 95);
    position: absolute;
    top: 120%;
    left: 65.3%;
    border-top-width: 3.3px;
    width: 20%;
    height: 53%;
    border-radius: 7px; 
}
.news-1:hover{
    animation: div-top .4s ease forwards;
    box-shadow: 2px 3px 8px rgb(146, 138, 138);
    -moz-box-shadow: 2px 3px 8px rgb(182, 176, 176);
    transition: all .7s ease ;
    

}
.news-2:hover{
    animation: div-top .4s ease forwards;
    box-shadow: 2px 3px 8px rgb(146, 138, 138);
    -moz-box-shadow: 2px 3px 8px rgb(182, 176, 176);
    transition: all .7s ease;
}

.news-3:hover{
    animation: div-top .4s ease forwards;
    transition: all .7s ease ;
    
    -moz-box-shadow: 2px 3px 8px rgb(182, 176, 176);
    box-shadow: 2px 3px 8px rgb(146, 138, 138);

}



.argentina{
    position: relative;
    left: 30%;
    top: -70px;
    width: 100px;
}

.qatar{
    position: relative;
    left: 45%;
    width: 140px;
    top: -70px

}
.result-arg-qat{
    position: relative;
    left: 43.5%;
    font-size: 40px;
    top: -145px;

}


@keyframes div-top{
    0%{
        opacity: 0.5;
    }
    10%{
       transform: translateY(-1%); opacity: 0.7
    }

    20%{
        transform: translateY(-3%); opacity:0.8
    }
    40%{
        transform: translateY(-4.8%); opacity: 0.9
    }
    100%{
        transform: translateY(-6%); opacity: 1;
    }
}

.news-1 > img{
    width: 99.5%;
    border-radius: 6px;
    position: relative;
    left: 0.5px;
}
.news-1 > h2{
    font-size: 20px;
    text-align: center;
    align-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    width:250px;
    position: relative;
    left: 12px
}
.news-1 > h4{
    position: relative;
    border-left: 2.5px solid rgb(35, 194, 107);
    padding-left: 8px;
    left: 4%;
    font-family: 'Exo 2';
    font-size: 14.5px;
    top: 47px;
    float: left; 
}

.news-2 > img{
    width: 99.5%;
    position: relative;
    left: 1px;
    border-radius: 6px;

}
.news-2 > h2{
    font-size: 20px;
    text-align: center;
    align-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    width:250px;
    position: relative;
}
.news-2 > h4{
    position: relative;
    border-left: 2.5px solid rgb(35, 194, 107);
    padding-left: 8px;
    left: 4%;
    font-family: 'Exo 2';
    font-size: 14.5px;
    top: 18px;
    float: left; 
}
.news-3 > img{
    width: 99.5%;
    position: relative;
    left: 1px;
    border-radius: 6px;
}
.news-3 > h2{
    font-size: 20px;
    text-align: center;
    align-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    width:250px;
    position: relative;
}
.news-3 > h4{
    position: relative;
    border-left: 2.5px solid rgb(35, 194, 107);
    padding-left: 8px;
    left: 4%;
    font-family: 'Exo 2';
    font-size: 14.5px;
    top: 36px;
}
.news-4{
    background-color:  rgba(212, 202, 202, 0.164);
    border: 1px solid rgba(172, 169, 169, 0.61);
    border-top-color: rgb(35, 194, 107);
    position: absolute;
    top: 190%;
    left:240px;
    width: 65.5%;
    height:75%;
    border-top-width: 3.3px;
    border-radius: 10px;
   

}

.news-4 > img{
    border-radius: 6px;
    width: 65%;
    position: relative;
    left:0.5%;
    top: 18px;
    filter: brightness(70%);
    z-index: auto;
    opacity: 0.872;
    border: 1.5px solid rgba(212, 202, 202, 0.364)
    
}

.news-4 > img:hover{
    transition: all .3s ease ;
    
    -moz-box-shadow: 2px 3px 8px rgb(182, 176, 176);
    box-shadow: 2px 3px 8px rgb(146, 138, 138);

}



.news-4 > h2{
    
    
    font-family: 'Francois One' ;
    color: #222;
    position: relative;
    top: 3px;
    left: 4%;
    font-weight: 100;
    font-size: 31px;
}

.news-4 > p{
    position: relative;
    top: 20%;
    float: left;
    width: 30%;
    font-size: 21px;
    letter-spacing: 0.3px;
    padding: 15px;
    line-height: 25.6px;
    font-family: 'Montserrat'
}

.news-4 >h4{
    position: relative;
    top: -25px;
    float: left;
    border-left: 2px solid rgb(35, 194, 107);
    padding-left: 8px;
    left: 2%;
    font-family: 'Exo 2'
}























footer{
    background-color: #222;
    width: 100%;
    top: 1150px;
    position: relative;
    height:53%;
}




.footer-logo{
    font-size: 26px;
    font-family: 'Paytone One';
    position: relative;
    left: 1%;
    color: rgb(35, 194, 107);
    width: 39.5%;
    top: 10px;
    font-weight: 200;

}
.white-explore{
    color: rgb(202, 196, 196);
}
.chronicle-size{
    font-size: 35px;
}



.newsletter-input{
    background-color: transparent;
    border: none;
    border: 2px solid rgb(35, 194, 107);
    position: relative;
    left: 77%;
    width: 15%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    top: -161px;
    color: white;
    outline: none;
    padding-left: 5px;
}
.newsletter-button{
    text-decoration: none;
    background-color: rgb(35, 194, 107);
    color: #222;
    padding: 9px;
    
    position: relative;
    left: 76.8%;
    top: -160px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 10px;
    font-family: 'Roboto'

}

.footer > .footer-newsletter {
    color: rgb(35, 194, 107);
    width: 14%;
    position: relative;
    left: 83.3%;
    top: 25px;
    font-family: 'Bree Serif';
    font-weight: 300;


    }

    .ul1, .ul2,.ul3{
        display: inline-block;
        position: relative;
        left: 28%;
        
        top: -20px;
        
        
    }
    .ul1{
        border-right: 1px solid rgb(35, 194, 107);
        border-right-width: 5px;
        padding-right: 70px;
    }
    .ul2{
        border-right: 1px solid rgb(35, 194, 107);
        border-right-width: 5px;
        padding-right: 70px;
    }
    
    
    
    
    
    .footer-copyright{
        color: antiquewhite;
        font-family: 'Ubuntu';
        position: relative;
        top: 20px;
        left: 30%;
        font-weight: 100;
        width: 70%;
        
        
        
    }
    
    .developed-vegim{
        font-family: 'Roboto';
        font-weight: 100;
        position: relative;
        left: 15%;
        
    }
    
    .ul1 > li:hover{
        color: rgb(35, 194, 107);
        transition: all .4s ease;
    }
    .ul2 >li:hover{
        color: rgb(35, 194, 107);
        transition: all .4s ease;
    }
    .ul3 >li:hover{
        color: rgb(35, 194, 107);
        transition: all .4s ease;
    }
    
    
    
    .ul2 > .home-li-sports >a{
        color: rgb(35, 194, 107);
        text-decoration: none;
      
    }
    .ul1 > .li-home > a{
        color: antiquewhite;
        text-decoration: none;
    }

    
    
    
    .ul1 > .li-home > a:hover{
        color: rgb(35, 194, 107);
        transition: all .4s ease;
    
    }
    li{
        color: antiquewhite;
        list-style-type: none;
        padding: 4.3px;
        font-size: 20.3px;
    }



















































